.container{
  text-align: center;
  margin-top: 200px;  
  align-items: center;
  padding: 30px;
}
.count{
    font-size: 50px;
    font-weight: bold;
    text-shadow: none;
    font-family:Arial, Helvetica, sans-serif;
    color: #39ff14;
    text-shadow: 0 0 10px #39ff14;
                 
                         

}
body{
    display: flex;
    justify-content: center;
    background-color: #050505;
    
}
h1{
    font-size: 90px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #00f7ff;
    text-shadow: 0px 0px 20px #39ff14;
}
button{
    padding: 10px 20px;
    border: none;
    background-color:transparent;
    color: #00f7ff;
    border-radius: 5px;
    font-size: 40px;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px #00f7ff;
    align-items: center;
    align-content: center;


}
button:hover{
    background-color:#00f7ff;
    font-size: 45px;
    color:black;
}
.resetBox{
text-align: center;
margin-top: 10px;
}