.container{
  text-align: center;
  margin-top: 200px;  
  align-items: center;
  padding: 30px;
}
.count{
    font-size: 40px;
    font-weight: bold;
    text-shadow: none;
    font-family:Arial, Helvetica, sans-serif;
    color: #39ff14;
    text-shadow: 0 0 10px #39ff14;                  

}
@media (max-width:600px) {
    .count{
        font-size: 25px;
    }
    
}
body{
    display: flex;
    justify-content: center;
    background-color: #050505;
    
}
h1{
    font-size: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #00f7ff;
    text-shadow: 0px 0px 10px #39ff14;
}
@media (max-width:600px) {
    h1{
        font-size: 35px;
    }
    
}
button{
    padding: 10px 20px;
    border: none;
    background-color:transparent;
    color: #00f7ff;
    border-radius: 5px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px #00f7ff;
    align-items: center;
    align-content: center;


}
@media (max-width:600px) {
    button{
        font-size: 14px;
        padding: 8px 12px;
    }
    
}
button:hover{
    background-color:#00f7ff;
    font-size: 25px;
    color:black;
}
.resetBox{
text-align: center;
margin-top: 10px;
}